<!doctype html>
<html>
   
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<title>Create a new test or quiz!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
		<script src="js/app.js"></script>
	</head>
   
	<body ng-app = "mainApp">
	  
		<div ng-controller = "HelloController" class="container">
			<h2 style="text-align: center">Welcome {{helloTo.title}} to my version of Typeform!</h2>
			<hr>
			<form name="testCreationForm">
				<div class="form-group" ng-repeat="item in formData">
					<label>Please input question number {{item.number}}.</label>
					<textarea type="text" placeholder="{{item.questionPlaceholder}}" ng-model="item.question" required></textarea>
					
				</div>
			
			</form>
			<button class="btn btn-primary" ng-click="add()">New Question</button>
			<button class="btn btn-warning" ng-click="remove()">Remove Question</button>
			<button class="btn btn-info" ng-click="createTest()">Create Quiz/Test</button>
		</div>

	  
	</body>
</html>