<!doctype html>
<html>
   
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<title>Create a new test or quiz!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
		<script src="js/app.js"></script>
	</head>
   
	<body ng-app = "mainApp">
	  
		<div ng-controller = "HelloController" class="container">
			<h2 style="text-align: center">Welcome {{helloTo.title}} to my version of Typeform!</h2>
			<hr>
			<form name="testCreationForm">
				<div class="form-group">
					<input type="text" placeholder="classID" ng-model="quiz.classID"/>
					<input type="text" placeholder="quizName" ng-model="quiz.quizName"/>
					<input type="number" placeholder="timeAllowed" ng-model="quiz.timeAllowed"/>
					<input type="number" placeholder="retakes" ng-model="quiz.retakes"/>
					<input type="text" placeholder="language" ng-model="quiz.language"/>
				</div>
				<div>
					<input type="text" placeholder="question" ng-model="q"></input>
					<input type="text" placeholder="answer" ng-model="a"></input>
					<input type="number" placeholder="num submissions" ng-model="n"></input>
				</div>
				<div class="form-group" ng-repeat="item in quiz.questions">
					<textarea type="text" placeholder="question" ng-model="item" required></textarea>
				</div>
				<div class="form-group" ng-repeat="answer in quiz.answers">
					<textarea type="text" placeholder="answer" ng-model="answer" required></textarea>
				</div>
				<div class="form-group" ng-repeat="number in quiz.numSubmission">
					<input type="number" placeholder="submissions allowed" ng-model="number" required></input>
				</div>

				<div class="form-group" ng-repeat="time in quiz.startTimes">
					<label>What are the start times?</label>
					<input type="time" ng-model="time" required></input>
				</div>
				<div class="form-group" ng-repeat="time in quiz.endTimes">
					<label>What are the end times?</label>
					<input type="time" ng-model="time" required></input>
				</div>
				<div class="form-group" ng-repeat="time in quiz.lateTimes">
					<label>What are the late times?</label>
					<input type="time" ng-model="time" required></input>
				</div>
				<div class="form-group" ng-repeat="date in quiz.startDates">
					<label>What are the start dates?</label>
					<input type="date" ng-model="date" required></input>
				</div>
				<div class="form-group" ng-repeat="date in quiz.endDates">
					<label>What are the end dates?</label>
					<input type="date" ng-model="date" required></input>
				</div>
				<div class="form-group" ng-repeat="date in quiz.lateDates">
					<label>What are the late dates?</label>
					<input type="date" ng-model="date" required></input>
				</div>
			
			</form>
			<button class="btn btn-primary" ng-click="add(q, a, n)">New Question</button>
			<button class="btn btn-warning" ng-click="remove()">Remove Question</button>
			<button class="btn btn-info" ng-click="createTest()">Create Quiz/Test</button>
			<br>
			<button class="btn btn-primary" ng-click="addStartTime()">Add Start Time</button>
			<button class="btn btn-warning" ng-click="addEndTime()">Add End Time</button>
			<button class="btn btn-info" ng-click="addLateTime()">Add Late Time</button>
			<br>
			<button class="btn btn-primary" ng-click="addStartDate()">Add Start Date</button>
			<button class="btn btn-warning" ng-click="addEndDate()">Add End Date</button>
			<button class="btn btn-info" ng-click="addLateDate()">Add Late Date</button>
		</div>

	  
	</body>
</html>