body {
	margin: 20px;
	background-color: black;
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	color: white;
	margin: 5px;
}

h2 {
	font-size: 20px;
	color: #ccc;
	margin: 5px;
}

#left, #right {
 width: 40%;
 margin: 45px;
 float: left;
}

#compile {
	padding: 3px;
}
#results {
	width: 550px;
	height: 450px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
#description {
	font-size: 20px;
	color: #ccc;
	margin: 2px;
}

#finish {
	position:absolute;
	right:10%;
	bottom:8%;
}

#editor { 
   	float: left;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 550px;
    height: 450px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}